﻿
@{
    Layout = null;
}
<div style="background-color:burlywood; border:double" ;>

    <div class="d-flex" style="justify-content: space-between;">
        <h3>Registrar gasto</h3>
        <div>
            <button id="createGasto" class="btn btn-success">Crear</button>

            <button id="cancelCreateGasto" class="btn btn-danger">Cancelar</button>

        </div>


    </div>

    <div class="form-group">
        <label for="inpCuentaG">Cuenta</label>
        <input name="nombreCuenta" type="text" class="form-control" id="inpCuentag" placeholder="Cuenta">
        <div><span class="text-danger"> @Html.ValidationMessage("nombreCuenta")</span></div>
    </div>

    <div class="form-group">
        <label for="datetimeG">Fecha y Hora</label>

        <input class="form-control" type="datetime-local" id="datetimeG"
               name="fecha" value="2021-07-09T19:30"
               min="2019-01-01T00:00">

        
        <div><span class="text-danger"> @Html.ValidationMessage("fecha")</span></div>
    </div>

    <div class="form-group">
        <label for="inpDescripcionG">Descripcion</label>
        <textarea name="descripcion" class="form-control" id="inpDescripcionG" rows="3"></textarea>
        <div><span class="text-danger"> @Html.ValidationMessage("descripcion")</span></div>
    </div>


    <div class="form-group">
        <label for="inpMontoG">Monto</label>
        <input name="monto" type="text" class="form-control" id="inpMontoG" placeholder="S/">
        <div><span class="text-danger"> @Html.ValidationMessage("monto")</span></div>
    </div>



</div>
