﻿
@{
    Layout = null;
}
<div style="background-color:burlywood; border:double" ;>

    <div class="d-flex" style="justify-content: space-between;">
        <h3>Crear Cuenta</h3>
        <div>
            <button id="createCuenta" class="btn btn-success">Crear</button>

            <button id="cancelCreate" class="btn btn-danger">Cancelar</button>

        </div>


    </div>

    <div class="form-group">
        <label for="inpNombre">Nombre</label>
        <input name="nombre" type="text" class="form-control" id="inpNombre" placeholder="Nombre">
        <div><span class="text-danger"> @Html.ValidationMessage("nombre")</span></div>
    </div>

    <div class="form-group">
        <label for="inpCategoria">Categoria</label>
        <select name="categoria" class="form-control" id="inpCategoria">
            <option value="Propio">Propio</option>
            <option value="Credito">Credito</option>

        </select>
        <div><span class="text-danger"> @Html.ValidationMessage("categoria")</span></div>
    </div>

    <div class="form-group">
        <label for="inpSaldo">Saldo Inicial</label>
        <input name="saldo" type="text" class="form-control" id="inpSaldo" placeholder="S/">
        <div><span class="text-danger"> @Html.ValidationMessage("saldo")</span></div>
    </div>



</div>
