﻿
@{
    Layout = null;
}
<div style="background-color:burlywood; border:double" ;>

    <div class="d-flex" style="justify-content: space-between;">
        <h3>Generar Transferencia</h3>
        <div>
            <button id="createTransferencia" class="btn btn-success">Crear</button>

            <button id="cancelCreateTransferencia" class="btn btn-danger">Cancelar</button>

        </div>


    </div>

    <div class="form-group">
        <label for="inpCuentaOrigen">Cuenta Origen</label>
        <select name="cuentaOrigen" class="form-control" id="inpCuentaOrigen">

            @foreach (Cuenta cuenta in Model.cuentas)
            {
               <option value=@cuenta.id>@cuenta.nombre</option>
            }



        </select>
        <div><span class="text-danger"> @Html.ValidationMessage("cuentaOrigen")</span></div>
    </div>

    <div class="form-group">
        <label for="inpCuentaDestino">Cuenta Destino</label>
        <select name="cuentaDestino" class="form-control" id="inpCuentaDestino">

            @foreach (Cuenta cuenta in Model.cuentas)
            {
                <option value=@cuenta.id>@cuenta.nombre</option>
            }



        </select>
        <div><span class="text-danger"> @Html.ValidationMessage("cuentaDestino")</span></div>
    </div>



    <div class="form-group">
        <label for="datetimeT">Fecha y Hora</label>

        <input class="form-control" type="datetime-local" id="datetimeT"
               name="fecha" value="2021-07-09T19:30"
               min="2019-01-01T00:00">


        <div><span class="text-danger"> @Html.ValidationMessage("fechaT")</span></div>
    </div>


    <div class="form-group">
        <label for="inpMontoT">Monto</label>
        <input name="montoT" type="text" class="form-control" id="inpMontoT" placeholder="S/">
        <div><span class="text-danger"> @Html.ValidationMessage("montoT")</span></div>
    </div>



</div>
