﻿
@{
    Layout = null;
}
<div style="background-color:burlywood; border:double" ;>

    <div class="d-flex" style="justify-content: space-between;">
        <h3>Registrar Ingreso</h3>
        <div>
            <button id="createIngreso" class="btn btn-success">Crear</button>

            <button id="cancelCreateIngreso" class="btn btn-danger">Cancelar</button>

        </div>


    </div>

    <div class="form-group">
        <label for="inpCuentaI">Cuenta</label>
        <input name="nombreCuenta" type="text" class="form-control" id="inpCuentaI" placeholder="Cuenta">
        <div><span class="text-danger"> @Html.ValidationMessage("nombreCuenta")</span></div>
    </div>

    <div class="form-group">
        <label for="datetimeI">Fecha y Hora</label>

        <input class="form-control" type="datetime-local" id="datetimeI"
               name="fecha" value="2021-07-09T19:30"
               min="2019-01-01T00:00">


        <div><span class="text-danger"> @Html.ValidationMessage("fecha")</span></div>
    </div>

    <div class="form-group">
        <label for="inpDescripcionI">Descripcion</label>
        <textarea name="descripcion" class="form-control" id="inpDescripcionI" rows="3"></textarea>
        <div><span class="text-danger"> @Html.ValidationMessage("descripcion")</span></div>
    </div>


    <div class="form-group">
        <label for="inpMontoI">Monto</label>
        <input name="monto" type="text" class="form-control" id="inpMontoI" placeholder="S/">
        <div><span class="text-danger"> @Html.ValidationMessage("monto")</span></div>
    </div>



</div>
