﻿@{
    ViewData["Title"] = "Index";
}



<div class="row" id="row">



    <div class="col-12 d-flex">

        <div class="col-5">
            <h2>BIENVENIDO A FINANZAS !</h2>
        </div>
        <div class="col-7">

            <div class="btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Gasto
                </button>
                <div class="dropdown-menu">
                    <button id="btnGasto" class="dropdown-item">Registrar gasto</button>
                    <div class="dropdown-divider"></div>
                    <button id="btnListarGastos" class="dropdown-item">Listar Gastos</button>

                </div>
            </div>
            <div class="btn-group ml-3">
                <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Ingreso
                </button>
                <div class="dropdown-menu">
                    <button id="btnIngreso" class="dropdown-item">Registrar Ingreso</button>
                    <div class="dropdown-divider"></div>
                    <button id="btnListarIngresos" class="dropdown-item">Listar Ingresos</button>
                </div>
            </div>


            <button id="btnTransferencia" class="btn btn-info">Hacer Transferencia</button>




            <div class="btn-group ml-3">
                <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Amigos
                </button>
                <div class="dropdown-menu">
                    <button id="btnBuscarAmigos" class="dropdown-item">Buscar Amigos</button>
                    <div class="dropdown-divider"></div>
                    <button id="btnMisAmigos" class="dropdown-item">Mis Amigos</button>
                    <div class="dropdown-divider"></div>
                    <a href="~/Home/Solicitudes" id="btnMisAmigos" class="dropdown-item">Solicitudes</a>
                </div>
            </div>





        </div>
       
    </div>

    <div class="col-12 d-inline-flex mt-5 ">
        <ul class="col-4 " style="place-self: center;">

            <li class="p-4"><button id="btnCrearCuenta" class="btn btn-success" role="button" aria-pressed="true">Crear Cuenta</button>  </li>

            <li class="p-4"><button id="btnSaldos" class="btn btn-warning" role="button" aria-pressed="true">¿Cuanto Dispongo?</button>  </li>


        </ul>


        <div id="areaWork" class="col-8">

            <img class="rounded-circle" alt="Finanza" src="https://image.freepik.com/vector-gratis/ilustracion-vector-concepto-negocios-finanzas-diseno-estilo-plano_65395-54.jpg" width="700" height="400">
        </div>


    </div>

</div>


@section Scripts{



    <script>


        $(document).ready(

            function () {

                var btnListGasto = $("#btnListarGastos");
                var btnGasto = $("#btnGasto");
                var btnCrear = $("#btnCrearCuenta");



                var btnListIngreso = $("#btnListarIngresos");
                var btnIngreso = $("#btnIngreso");

                var btnTransferencia = $("#btnTransferencia");

                var btnSaldos = $("#btnSaldos");

                var btnBuscarAmigos = $("#btnBuscarAmigos");






                btnBuscarAmigos.click(

                    function (e) {

                        e.preventDefault();

                        var html = "<input id='buscarPoke' class='form-control mr-sm-2' name='buscar' type='search' placeholder='Buscar Persona' aria-label='Search'><div id='aea'></div>";

                        $("#areaWork").html(html);



                        var $req2 = $("#buscarPoke");
                        $req2.keyup(
                            function () {

                                var rq2 = $.ajax({
                                    url: '/home/search',
                                    type: 'POST',
                                    data: {
                                        buscar: $req2.val()
                                    }

                                }
                                )
                                rq2.done(

                                    function (respuesta) {
                                        $("#aea").html(respuesta);

















                                    }















                                );
                            }








                        );








                    }

                );
                
                
              
             

              









                btnSaldos.click(

                    function (e) {

                        e.preventDefault();

                        var r = $.ajax(

                            {

                                url: 'Home/obtenerSaldosTotales',
                                type: 'get'


                            }

                        );

                        //
                        r.done(

                            function (respuesta) {



                                $("#areaWork").html(respuesta);


                                //



                            }



                        );
                        //


                    }

                );








                btnTransferencia.click(

                    function (e) {

                        e.preventDefault();

                        var r = $.ajax(

                            {

                                url: 'Home/CrearTransferenciaForm',
                                type: 'get'


                            }

                        );

                        //
                        r.done(

                            function (respuesta) {



                                $("#areaWork").html(respuesta);


                                //
                                $("#row").on("click", "#createTransferencia",
                                    function (e) {

                                        e.preventDefault();

                                        var request = $.ajax(
                                            {

                                                url: 'Home/CrearTransferencia',
                                                type: 'post',
                                                data: {


                                                  

                                                    cuentaOrigen: $("#inpCuentaOrigen").val(),
                                                    cuentaDestino: $("#inpCuentaDestino").val(),

                                                    fecha: $("#datetimeT").val(),

                                                    monto: $("#inpMontoT").val()



                                                }

                                            }


                                        );

                                        request.done(

                                            function (respuesta) {

                                                alert("!");


                                                $("#areaWork").html(respuesta);
                                            }



                                        );


                                    }


                                );


                            }



                        );
                        //


                    }




                );

























                btnListIngreso.click(

                    function (e) {

                        e.preventDefault();

                        var r = $.ajax(

                            {

                                url: 'Home/ObtenerIngresos',
                                type: 'get'


                            }

                        );

                        //
                        r.done(

                            function (respuesta) {



                                $("#areaWork").html(respuesta);


                                //



                            }



                        );
                        //


                    }

                );



                btnIngreso.click(

                    function (e) {

                        e.preventDefault();

                        var r = $.ajax(

                            {

                                url: 'Home/CrearIngresoForm',
                                type: 'get'


                            }

                        );

                        //
                        r.done(

                            function (respuesta) {



                                $("#areaWork").html(respuesta);


                                //
                                $("#row").on("click", "#createIngreso",
                                    function (e) {

                                        e.preventDefault();

                                        var request = $.ajax(
                                            {

                                                url: 'Home/CrearIngreso',
                                                type: 'post',
                                                data: {

                                                    nombreCuenta: $("#inpCuentaI").val(),
                                                    fecha: $("#datetimeI").val(),
                                                    descripcion: $("#inpDescripcionI").val(),
                                                    monto: $("#inpMontoI").val()
                                                }

                                            }


                                        );

                                        request.done(

                                            function (respuesta) {

                                                alert("!");


                                                $("#areaWork").html(respuesta);
                                            }



                                        );


                                    }


                                );


                            }



                        );
                        //


                    }




                );

















                btnListGasto.click(

                    function (e) {

                        e.preventDefault();

                        var r = $.ajax(

                            {

                                url: 'Home/ObtenerGastos',
                                type: 'get'


                            }

                        );

                        //
                        r.done(

                            function (respuesta) {



                                $("#areaWork").html(respuesta);


                                //
                              


                            }



                        );
                        //


                    }

                );













                btnGasto.click(

                    function (e) {

                        e.preventDefault();

                        var r = $.ajax(

                            {

                                url: 'Home/CrearGastoForm',
                                type: 'get'


                            }

                        );

                        //
                        r.done(

                            function (respuesta) {



                                $("#areaWork").html(respuesta);

                            
                                //
                                $("#row").on("click", "#createGasto",
                                    function (e) {

                                        e.preventDefault();

                                        var request = $.ajax(
                                            {

                                                url: 'Home/CrearGasto',
                                                type: 'post',
                                                data: {

                                                    nombreCuenta: $("#inpCuentag").val(),
                                                    fecha: $("#datetimeG").val(),
                                                    descripcion: $("#inpDescripcionG").val(),
                                                    monto: $("#inpMontoG").val()
                                                }

                                            }


                                        );

                                        request.done(

                                            function (respuesta) {

                                                alert("!");


                                                $("#areaWork").html(respuesta);
                                            }



                                        );


                                    }


                                );


                            }



                        );
                        //


                    }




                );






                btnCrear.click(

                    function (e) {

                        e.preventDefault();


                        var r = $.ajax(

                            {

                                url: 'Home/CrearCuentaForm',
                                type: 'get'
                             

                            }

                        );

                        r.done(

                            function (respuesta) {


                           
                                $("#areaWork").html(respuesta);

                                $("#row").on("click", "#createCuenta",
                                    function (e) {

                                        e.preventDefault();

                                        var request = $.ajax(
                                            {

                                                url: 'Home/CrearCuenta',
                                                type: 'post',
                                                data: {

                                                    nombre: $("#inpNombre").val(),                                
                                                    categoria: $("#inpCategoria").val(),
                                                    saldo: $("#inpSaldo").val()
                                                }

                                            }


                                        );

                                        request.done(

                                            function (respuesta) {
                                              
                                               alert("Se creo la cuenta con exito!");
                                                 
                                                
                                               $("#areaWork").html(respuesta);
                                            }



                                        );


                                    }


                                );


                            }




                        );

                    }



                );

               

            }

        )




       


    </script>




}
