﻿
@{
    Layout = null;
}
<h4 class="font-italic"><i class="bi bi-arrow-90deg-left"></i>  Lista Gastos</h4>
<ul class="list-group">

    @foreach (Cuenta cuenta in Model.cuentas)
    {

        foreach (Gasto gasto in cuenta.gastos)


        {


            <li class="list-group-item">





                <div class="card w-75">
                    <div class="card-body">
                        <h5 class="card-title"> @cuenta.nombre</h5>
                        <small class="card-text">@gasto.fecha.ToString("MM/dd/yyyy hh:mm")</small>

                        <p class="card-text">Descripcion: @gasto.descripcion</p>
                        <p class="card-text">Monto: S/ @gasto.monto</p>

                    </div>
                </div>



            </li>

        }


    }

</ul>