﻿
@{

    Layout = null;
}
<div class="card" style="width: 20rem;">
    <div class="card-header">
        Saldos
    </div>
    <ul class="list-group list-group-flush">
      
        <li style="background: oldlace;" class="list-group-item">Cuanto tengo: S/<p id="tengo"> @ViewBag.Tengo</p> </li>
        <li style="background: oldlace;" class="list-group-item">Puedo gastar: S/<p id="puedo">@ViewBag.Puedo</p> </li>

    </ul>
</div>