﻿
@{
    Layout = null;

    bool esAmigo = false;

    bool Solicitado = false;
}
<h4 class="font-italic"> Personas</h4>
<ul class="list-group">


    @foreach (Usuario usuario in Model)
    {




        <li class="list-group-item">





            <div class="card w-75">
                <div class="card-body">
                    <h5 class="card-title"> @usuario.nombre</h5>
                    <small class="card-text">@usuario.correo</small>

                    <p class="card-text">Descripcion: @usuario.telefono</p>


                    @foreach (Amigo amigo in ViewBag.amigos)
                    {
                        if (usuario.id == amigo.idAmigo)
                        {

                            esAmigo = true;

                        }

                    }
                    @if (esAmigo)
                    {


                        <a href="~/Home/Yapear?id=@usuario.id" class="btn btn-info" id="btnYaper">Yapear</a>
                        esAmigo = false;
                    }
                    else
                    {

                        foreach (Solicitud solicitud in ViewBag.solicituds)
                        {

                            if (solicitud.idReceptor == usuario.id)
                            {
                                Solicitado = true;
                            }



                        }


                        if (!Solicitado)
                        {
                            <a href="~/Home/Agregar?id=@usuario.id" class="btn btn-info" id="addAnmigo">Agregar</a>
                        }
                        Solicitado = false;


                    }




                </div>
            </div>



        </li>



    }









</ul>