﻿

<h4 class="font-italic"> Personas</h4>
<ul class="list-group">


    @foreach (Usuario usuario in Model)
    {




        <li class="list-group-item">





            <div class="card w-75">
                <div class="card-body">
                    <h5 class="card-title"> @usuario.nombre</h5>
                    <small class="card-text">@usuario.correo</small>

                    <p class="card-text">Descripcion: @usuario.telefono</p>

                    <a href="~/Home/Aceptar?id=@usuario.id" class="btn btn-info" id="btnYaper">Aceptar</a>








                </div>
            </div>



        </li>



    }









</ul>