﻿body {
    background-image: url("https://i.pinimg.com/564x/36/85/74/3685740055d38a33e47d3e58eceaca4b.jpg");
    backdrop-filter: blur(1.3px);
    background-color: #a99789
}

.footer {
    position: relative !important;
}
.card {
    width: 400px;
    border: solid;
    
}

.btr {
    border-top-right-radius: 5px !important
}

.btl {
    border-top-left-radius: 5px !important
}

.btn-dark {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd
}

    .btn-dark:hover {
        color: #fff;
        background-color: #0d6efd;
        border-color: #0d6efd
    }

.nav-pills {
    display: table !important;
    width: 100%
}

    .nav-pills .nav-link {
        border-radius: 0px;
        border-bottom: 1px solid #0d6efd40
    }

.nav-item {
    display: table-cell;
    background: #0d6efd2e
}

form {
    padding: 10px;
    height: 400px
}

    form input {
        margin-bottom: 12px;
        border-radius: 3px
    }

        form input:focus {
            box-shadow: none
        }

    form button {
        margin-top: 20px
    }
